{{- define "layouts/layout"}}
<!DOCTYPE html>
<html lang="en">

<head>
   <meta charset="UTF-8" />
   <meta name="viewport" content="width=device-width, initial-scale=1.0" />
   <meta name="color-scheme" content="light dark" />
   <title>{{template "title" .}} - SFTP Slurper</title>
   <link type="text/css" rel="stylesheet" media="screen" href="/static/css/pico.min.css" />
   <link type="text/css" rel="stylesheet" media="screen" href="/static/css/spinner.min.css" />
   <!-- <link type="text/css" rel="stylesheet" media="screen" href="/static/css/dialog.min.css" /> -->
   <link type="text/css" rel="stylesheet" media="screen" href="/static/css/styles.css" />
   {{stylesheetIncludes "Stylesheets" .}}

   <script src="/static/js/htmx.min.js"></script>
</head>

<body>
   <header class="grid top-header">
      <nav>
         <ul>
            <li>
               <h1><a href="/">SFTP Slurper</a></h1>
            </li>
         </ul>
         <ul>
            <li><a hx-get="/about" hx-push-url="true" hx-target="#mainContent">About</a></li>
         </ul>
      </nav>
   </header>
   <!-- END NAV -->

   <main id="mainContent" class="container-fluid">
      {{template "content" .}}
   </main>

   <footer id="page-footer">
      <p>&copy; 2025 Adam Presley. Version {{.Version}}</p>
   </footer>

   <script type="module" src="/static/js/spinner-middleware.js"></script>
   {{javascriptIncludes "JavascriptIncludes" .}}
</body>

</html>
{{end}}
